*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  text-decoration: none;
}
.header{
  background-color: red;
  padding: 25px 10px;
}
.header>a{
  color :white;
}
.header>a + a{
  margin-left:20px;
}


label{
  display: block;
  margin:10px 0 5px;
}
.content, .findform, .registerform, #result, #results{
  background: lightgray;
  padding: 20px 10px;
  margin: 20px;
  border-radius: 10px;
  max-width: 400px;

  
 }
 .center{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  height: 100vh;
 }
input,select{
  width: 100%;
  border-radius:5px;
  border:none;
  padding:10px;
  margin-bottom: 20px;
}
.formbutton, .registerbutton ,button{
  width: 100%;
  padding: 15px;
  font-weight: bolder;
  background:green;
  border:none;
  margin-top:20px;
  border-radius: 5px;
  color:white;
  font-size: 20px;
  }
  .home, .back{
    
    margin: 20px;
  }
h2{
  color:red;
  text-align: center;
  margin-bottom: 20px;
}
body{
  height:100vh;
  background-image: url('pattern.jpg');
}
 .icon {
      display: inline-block;
      margin: 5px;
      width: 24px;
      height: 24px;
    }
    .icon img {
      width: 100%;
      height: 100%;}